USE [master]
GO
/****** Object:  Database [projekPABD]    Script Date: 24/06/2026 22:54:12 ******/
CREATE DATABASE [projekPABD]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'projekPABD', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SA\MSSQL\DATA\projekPABD.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'projekPABD_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SA\MSSQL\DATA\projekPABD_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [projekPABD].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [projekPABD]
GO
/****** Object:  Table [dbo].[mahasiswa]    Script Date: 24/06/2026 22:54:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mahasiswa](
	[id_mhs] [int] IDENTITY(1,1) NOT NULL,
	[nim] [varchar](20) NOT NULL,
	[nama] [varchar](50) NOT NULL,
	[prodi] [varchar](50) NULL,
	[no_hp] [char](15) NULL,
	[email] [varchar](50) NULL,
	[username] [varchar](50) NOT NULL,
	[password] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_mhs] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_mahasiswa_nim] UNIQUE NONCLUSTERED 
(
	[nim] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[saran_komplain]    Script Date: 24/06/2026 22:54:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[saran_komplain](
	[id_saran] [int] IDENTITY(1,1) NOT NULL,
	[id_mhs] [int] NOT NULL,
	[jenis] [varchar](50) NULL,
	[isi] [varchar](max) NULL,
	[status] [varchar](15) NULL,
	[created_at] [datetime] NULL,
	[id_sumber] [int] NOT NULL,
	[foto] [varbinary](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_saran] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tanggapan]    Script Date: 24/06/2026 22:54:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tanggapan](
	[id_tanggapan] [int] IDENTITY(1,1) NOT NULL,
	[id_saran] [int] NULL,
	[id_admin] [int] NULL,
	[isi_tanggapan] [text] NULL,
	[responded_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_tanggapan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sumber_daya_kampus]    Script Date: 24/06/2026 22:54:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sumber_daya_kampus](
	[id_sumber] [int] IDENTITY(1,1) NOT NULL,
	[kategori] [varchar](50) NOT NULL,
	[deskripsi] [text] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_sumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[kategori] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[view_laporan_komplain]    Script Date: 24/06/2026 22:54:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[view_laporan_komplain]
AS
SELECT
    s.id_saran,
    s.id_mhs,
    m.nim,
    m.nama,
    m.prodi,
    sk.kategori,
    s.jenis,
    s.isi,
    s.status,

    ISNULL(
        t.isi_tanggapan,
        'Belum ada tanggapan'
    ) AS isi_tanggapan,

    s.created_at

FROM saran_komplain s

JOIN mahasiswa m
ON s.id_mhs = m.id_mhs

JOIN sumber_daya_kampus sk
ON s.id_sumber = sk.id_sumber

LEFT JOIN tanggapan t
ON s.id_saran = t.id_saran;
GO
/****** Object:  Table [dbo].[admin]    Script Date: 24/06/2026 22:54:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[admin](
	[id_admin] [int] IDENTITY(1,1) NOT NULL,
	[nip] [char](20) NOT NULL,
	[nama] [varchar](50) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[password] [varchar](255) NOT NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_admin] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[nip] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[log_aktivitas]    Script Date: 24/06/2026 22:54:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[log_aktivitas](
	[id_log] [int] IDENTITY(1,1) NOT NULL,
	[aktivitas] [varchar](255) NULL,
	[tanggal] [datetime] NULL,
	[username] [varchar](50) NULL,
	[status] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_log] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Logs]    Script Date: 24/06/2026 22:54:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Logs](
	[LogID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[Username] [varchar](50) NULL,
	[RoleUser] [varchar](20) NULL,
	[Aktivitas] [varchar](100) NOT NULL,
	[Detail] [text] NULL,
	[IPAddress] [varchar](50) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mahasiswa_Backup]    Script Date: 24/06/2026 22:54:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mahasiswa_Backup](
	[id_mhs] [int] IDENTITY(1,1) NOT NULL,
	[nim] [char](20) NOT NULL,
	[nama] [varchar](50) NOT NULL,
	[prodi] [varchar](50) NULL,
	[no_hp] [char](15) NULL,
	[email] [varchar](50) NULL,
	[username] [varchar](50) NOT NULL,
	[password] [varchar](255) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Index [idx_Logs_CreatedAt]    Script Date: 24/06/2026 22:54:13 ******/
CREATE NONCLUSTERED INDEX [idx_Logs_CreatedAt] ON [dbo].[Logs]
(
	[CreatedAt] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_Logs_RoleUser]    Script Date: 24/06/2026 22:54:13 ******/
CREATE NONCLUSTERED INDEX [idx_Logs_RoleUser] ON [dbo].[Logs]
(
	[RoleUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_Logs_UserID]    Script Date: 24/06/2026 22:54:13 ******/
CREATE NONCLUSTERED INDEX [idx_Logs_UserID] ON [dbo].[Logs]
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[admin] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[log_aktivitas] ADD  DEFAULT (getdate()) FOR [tanggal]
GO
ALTER TABLE [dbo].[Logs] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[saran_komplain] ADD  DEFAULT ('menunggu') FOR [status]
GO
ALTER TABLE [dbo].[saran_komplain] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[sumber_daya_kampus] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[saran_komplain]  WITH CHECK ADD FOREIGN KEY([id_mhs])
REFERENCES [dbo].[mahasiswa] ([id_mhs])
GO
ALTER TABLE [dbo].[saran_komplain]  WITH CHECK ADD  CONSTRAINT [FK_saran_sumberdaya] FOREIGN KEY([id_sumber])
REFERENCES [dbo].[sumber_daya_kampus] ([id_sumber])
GO
ALTER TABLE [dbo].[saran_komplain] CHECK CONSTRAINT [FK_saran_sumberdaya]
GO
ALTER TABLE [dbo].[saran_komplain]  WITH CHECK ADD  CONSTRAINT [FK_sumber] FOREIGN KEY([id_sumber])
REFERENCES [dbo].[sumber_daya_kampus] ([id_sumber])
GO
ALTER TABLE [dbo].[saran_komplain] CHECK CONSTRAINT [FK_sumber]
GO
ALTER TABLE [dbo].[tanggapan]  WITH CHECK ADD FOREIGN KEY([id_admin])
REFERENCES [dbo].[admin] ([id_admin])
GO
ALTER TABLE [dbo].[tanggapan]  WITH CHECK ADD  CONSTRAINT [FK_tanggapan_saran] FOREIGN KEY([id_saran])
REFERENCES [dbo].[saran_komplain] ([id_saran])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tanggapan] CHECK CONSTRAINT [FK_tanggapan_saran]
GO
ALTER TABLE [dbo].[saran_komplain]  WITH CHECK ADD  CONSTRAINT [cek_jenis] CHECK  (([jenis]='komplain' OR [jenis]='saran'))
GO
ALTER TABLE [dbo].[saran_komplain] CHECK CONSTRAINT [cek_jenis]
GO
/****** Object:  StoredProcedure [dbo].[sp_CariKomplain]    Script Date: 24/06/2026 22:54:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_CariKomplain]
    @keyword VARCHAR(100)
AS
BEGIN
    SELECT *
    FROM view_laporan_komplain
    WHERE isi LIKE '%' + @keyword + '%'
END

GO
/****** Object:  StoredProcedure [dbo].[sp_DashboardChart]    Script Date: 24/06/2026 22:54:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_DashboardChart]
    @bulan INT,
    @tahun INT
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        s.jenis AS Kategori,
        COUNT(*) AS Jumlah
    FROM saran_komplain s
    WHERE MONTH(s.created_at) = @bulan 
      AND YEAR(s.created_at) = @tahun
    GROUP BY s.jenis
    ORDER BY Jumlah DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteKomplain]    Script Date: 24/06/2026 22:54:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_DeleteKomplain]
    @id_saran INT
AS
BEGIN
    DELETE FROM saran_komplain
    WHERE id_saran=@id_saran
END

GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllKomplain]    Script Date: 24/06/2026 22:54:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetAllKomplain]
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        s.id_saran,
        m.nama,
        m.nim,
        s.jenis,
        sk.kategori,
        s.isi,
        s.status,
        s.created_at,
        ISNULL(t.isi_tanggapan, '-') AS tanggapan
    FROM saran_komplain s
    JOIN mahasiswa m ON s.id_mhs = m.id_mhs
    JOIN sumber_daya_kampus sk ON s.id_sumber = sk.id_sumber
    LEFT JOIN tanggapan t ON s.id_saran = t.id_saran
    ORDER BY s.created_at DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetKomplainByFilter]    Script Date: 24/06/2026 22:54:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetKomplainByFilter]
    @bulan INT = NULL,
    @tahun INT = NULL,
    @jenis VARCHAR(20) = NULL,
    @status VARCHAR(20) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        m.nama,
        m.nim,
        s.jenis,
        sk.kategori,
        s.isi,
        s.status,
        s.created_at AS Tanggal,
        ISNULL(t.isi_tanggapan, '-') AS Tanggapan
    FROM saran_komplain s
    JOIN mahasiswa m ON s.id_mhs = m.id_mhs
    JOIN sumber_daya_kampus sk ON s.id_sumber = sk.id_sumber
    LEFT JOIN tanggapan t ON s.id_saran = t.id_saran
    WHERE (@bulan IS NULL OR MONTH(s.created_at) = @bulan)
      AND (@tahun IS NULL OR YEAR(s.created_at) = @tahun)
      AND (@jenis IS NULL OR s.jenis = @jenis)
      AND (@status IS NULL OR s.status = @status)
    ORDER BY s.created_at DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertMahasiswa]    Script Date: 24/06/2026 22:54:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_InsertMahasiswa]
    @nim VARCHAR(20),
    @nama VARCHAR(100),
    @prodi VARCHAR(50),
    @no_hp VARCHAR(15),
    @email VARCHAR(100),
    @username VARCHAR(50),
    @password VARCHAR(255)
AS
BEGIN
    SET NOCOUNT ON;
    
    -- CEK DUPLIKAT NIM
    IF EXISTS (SELECT 1 FROM mahasiswa WHERE nim = @nim)
    BEGIN
        RAISERROR('NIM sudah terdaftar!', 16, 1);
        RETURN;
    END
    
    -- CEK DUPLIKAT USERNAME
    IF EXISTS (SELECT 1 FROM mahasiswa WHERE username = @username)
    BEGIN
        RAISERROR('Username sudah digunakan!', 16, 1);
        RETURN;
    END
    
    INSERT INTO mahasiswa (nim, nama, prodi, no_hp, email, username, password)
    VALUES (@nim, @nama, @prodi, @no_hp, @email, @username, @password);
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_LoginAdmin]    Script Date: 24/06/2026 22:54:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_LoginAdmin]
    @username VARCHAR(50),
    @password VARCHAR(255)
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        id_admin,
        nama,
        username
    FROM admin
    WHERE username = @username AND password = @password;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_LoginMahasiswa]    Script Date: 24/06/2026 22:54:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_LoginMahasiswa]
    @username VARCHAR(50),
    @password VARCHAR(255)
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        id_mhs,
        nim,
        nama,
        prodi,
        email
    FROM mahasiswa
    WHERE username = @username AND password = @password;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_RekapData]    Script Date: 24/06/2026 22:54:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_RekapData]
    @bulan INT,
    @tahun INT,
    @jenis VARCHAR(20) = NULL,
    @status VARCHAR(20) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        m.nama,
        m.nim,
        s.jenis,
        sk.kategori,
        s.isi,
        s.status,
        s.created_at AS Tanggal,
        ISNULL(t.isi_tanggapan, '-') AS Tanggapan
    FROM saran_komplain s
    JOIN mahasiswa m ON s.id_mhs = m.id_mhs
    JOIN sumber_daya_kampus sk ON s.id_sumber = sk.id_sumber
    LEFT JOIN tanggapan t ON s.id_saran = t.id_saran
    WHERE MONTH(s.created_at) = @bulan 
      AND YEAR(s.created_at) = @tahun
      AND (@jenis IS NULL OR s.jenis = @jenis)
      AND (@status IS NULL OR s.status = @status)
    ORDER BY s.created_at DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_TambahKomplain]    Script Date: 24/06/2026 22:54:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- BUAT ulang dengan kolom yang benar
CREATE PROCEDURE [dbo].[sp_TambahKomplain]
    @id_mhs INT,
    @id_sumber INT,
    @jenis VARCHAR(50),
    @isi TEXT,
    @foto VARBINARY(MAX) = NULL
AS
BEGIN
    INSERT INTO saran_komplain (id_mhs, id_sumber, jenis, isi, foto, status, created_at)
    VALUES (@id_mhs, @id_sumber, @jenis, @isi, @foto, 'menunggu', GETDATE());
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateKomplain]    Script Date: 24/06/2026 22:54:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdateKomplain]
    @id_saran INT,
    @id_sumber INT,
    @jenis NVARCHAR(50),
    @isi NVARCHAR(MAX),
    @foto VARBINARY(MAX) -- Pastikan baris tipe data parameter ini VARBINARY(MAX), bukan NVARCHAR!
AS
BEGIN
    UPDATE saran_komplain 
    SET id_sumber = @id_sumber, jenis = @jenis, isi = @isi, foto = @foto
    WHERE id_saran = @id_saran
END
GO
USE [master]
GO
