<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ProjekPABD.Properties.Settings.LAPTOP_6B5BO8RM_SAConnectionString"
            connectionString="Data Source=LAPTOP-6B5BO8RM\SA;Initial Catalog=LAPTOP-6B5BO8RM\SA;Persist Security Info=True;User ID=sa;Password=Saki0912;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="ProjekPABD.Properties.Settings.ConnectionString" connectionString="Data Source=LAPTOP-6B5BO8RM\SA;Persist Security Info=True;User ID=sa;Password=Saki0912;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="ProjekPABD.Properties.Settings.projekPABDConnectionString"
            connectionString="Data Source=LAPTOP-6B5BO8RM\SA;Initial Catalog=projekPABD;Persist Security Info=True;User ID=sa;Password=Saki0912;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>